
    h3 {
      text-align: center;
      font-size: 30px;
    }

    .fullbox {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;

    }

    .box1 {
      border: 1px solid black;
      height: 80vmin;
      width: 60vmin;
    }

    .box2 {
      border: 1px solid black;
      height: 80vmin;
      width: 60vmin;
    }

    .box3 {
      border: 1px solid black;
      height: 100vmin;
      width: 60vmin;
      margin: 0px;
      padding: 0px;
    }

    .box4 {
      border: 1px solid black;
      height: 60vmin;
      width: 60vmin;
    }

    img {
      height: 30px;
      width: 30px;
      padding: 5px;
    }

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .registration{
      height: 65vmin;
      width: 45vmin;
      margin: auto;
      background-color: white;
    }

    form{
      width: 40vmin;
    }

    form label,.select{
      display: flex;
      margin: 5px 0px 5px 0px;
    }
   
    h4{
      font-size: 20px;
    }

    .select{
      padding-left: 5px;
    }
    .inputbox{
      width: 100%;
      padding: 7px;
      border: 1px solid black;
      border-radius: 5px;
    }
    .SubmitButton{
      height: 35px;
      width: 100px;
      margin: 5px;
      background-color: green;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 15px;      
    }
    .SubmitButton:hover{
      background-color: rgb(3, 82, 3);
    }
   .errormsg{
    color: red;
   }
   .box{
    color: green;
   }